<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scujj.mapper.StudentMapper">
    <resultMap id="listStudentWithClass" type="StudentEntity">
        <id property="id" column="sid"></id>
        <result property="name" column="sname"></result>
        <result property="studentNumber" column="student_number"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="inSchool" column="in_school"></result>
        <result property="healthStatus" column="health_status"></result>
        <association property="classEntity" javaType="ClassEntity">
            <id property="id" column="cid"></id>
            <result property="name" column="cname"></result>
        </association>
    </resultMap>
    <select id="listStudentWithClass" resultType="StudentEntity" resultMap="listStudentWithClass">
        SELECT s.id sid,
        s.name sname,
        s.student_number,
        s.phone_number,
        s.in_school,
        s.health_status,
        c.id cid,
        c.name cname
        FROM tb_student s
        left join tb_class c on c.id = s.class_id
        left join tb_major tm on tm.id = c.major_id
        left join tb_college tc on tc.id = tm.college_id
        <where>
            <if test="collegeId!=null">
                and tc.id = #{collegeId}
            </if>
            <if test="majorId!=null">
                and tm.id = #{majorId}
            </if>
            <if test="classId!=null">
                and c.id = #{collegeId}
            </if>
            <if test="key!=null">
                and s.name like #{key}
            </if>
        </where>
        LIMIT #{page},#{limit}
    </select>
    <select id="countStudentWithClass" resultType="java.lang.Long">
        SELECT COUNT(s.id)
        FROM tb_student s
        left join tb_class c on c.id = s.class_id
        left join tb_major tm on tm.id = c.major_id
        left join tb_college tc on tc.id = tm.college_id
        <where>
            <if test="collegeId!=null">
                and tc.id = #{collegeId}
            </if>
            <if test="majorId!=null">
                and tm.id = #{majorId}
            </if>
            <if test="classId!=null">
                and c.id = #{collegeId}
            </if>
            <if test="key!=null">
                and s.name like #{key}
            </if>
        </where>
    </select>
    <select id="countHealth" resultType="java.lang.Long">
        SELECT COUNT(s.id)
        FROM tb_student s
        left join tb_class c on c.id = s.class_id
        left join tb_major tm on tm.id = c.major_id
        left join tb_college tc on tc.id = tm.college_id
        where s.health_status = 1
        <where>
            <if test="collegeId!=null">
                and tc.id = #{collegeId}
            </if>
            <if test="majorId!=null">
                and tm.id = #{majorId}
            </if>
            <if test="classId!=null">
                and c.id = #{collegeId}
            </if>
            <if test="key!=null">
                and s.name like #{key}
            </if>
        </where>
    </select>
    <select id="countDiagnosis" resultType="java.lang.Long">
        SELECT COUNT(s.id)
        FROM tb_student s
        left join tb_class c on c.id = s.class_id
        left join tb_major tm on tm.id = c.major_id
        left join tb_college tc on tc.id = tm.college_id
        where s.health_status = 3
        <where>
            <if test="collegeId!=null">
                and tc.id = #{collegeId}
            </if>
            <if test="majorId!=null">
                and tm.id = #{majorId}
            </if>
            <if test="classId!=null">
                and c.id = #{collegeId}
            </if>
            <if test="key!=null">
                and s.name like #{key}
            </if>
        </where>
    </select>
    <select id="countInSchool" resultType="java.lang.Long">
        SELECT COUNT(s.id)
        FROM tb_student s
        left join tb_class c on c.id = s.class_id
        left join tb_major tm on tm.id = c.major_id
        left join tb_college tc on tc.id = tm.college_id
        where s.in_school = 1
        <where>
            <if test="collegeId!=null">
                and tc.id = #{collegeId}
            </if>
            <if test="majorId!=null">
                and tm.id = #{majorId}
            </if>
            <if test="classId!=null">
                and c.id = #{collegeId}
            </if>
            <if test="key!=null">
                and s.name like #{key}
            </if>
        </where>
    </select>
</mapper>